html, body {
  background-color: #f7f7f7;
  box-sizing: border-box;
}

body {
  text-align: center;
}

p {
  padding: 0 0.5em;
}

.button-div {
  padding-right: 0.75em;
  padding-left: 0.75em;
}

.landing-page {
  margin: 1em auto;
}

.error {
  background-color: #e59393;
  border: 1px solid lightgrey;
  border-radius: 6px;
  margin: 1em auto;
}

.address-page {
  margin: 1em auto;
  background-color: #fff;
}

#address-form {
  margin: 1em auto;
  text-align: left;
}

.contact-page {
  margin: 1em auto;
  padding: 1em;
}

.contact-card {
  background-color: #fff;
  border: 1px solid lightgrey;
  border-radius: 6px;
  min-width: 12.5em;
  margin-bottom: 1em;
  max-width: 25em;
  padding: 2.5rem 3rem;
}

.headshot-container {
  min-width: 200px;
  max-width: 325px;
  height: 200px;
  background-size: cover;
  border-radius: 2px;
  margin-right: auto;
  margin-left: auto;
}


.office {
  max-width: 24em;
}

.info {
  text-align: left;
  padding-top: 1rem;
  width: 90%;
  float: left;
  display: block;
}

.info h3 {
  margin-top: 1em;
}

.contact-info {
  text-align: left;
}

.contact-info ul {
  list-style: none;
}

.adr {
  text-transform: capitalize;
}

@media screen and (min-width: 580px) {
  .headshot-container {
    min-width: 200px;
    max-width: 325px;
    height: 200px;
    background-size: cover;
    border-radius: 2px;
    margin-right: auto;
    margin-left: auto;
  }

  .info {
    float: left;
    display: block;
    margin-right: 4.82916%;
  }
}

/*@media screen and (min-width: 648px){
  .info {
    box-sizing: border-box;
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 55%;
  }
}*/

@media screen and (min-width: 720px) {
  .headshot-container {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 30.11389%;
  }

  .info {
    box-sizing: border-box;
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 55%;
  }

  .contact-card {
    max-width: 45em;
  }
}



@media screen and (min-width: 1040px) {
  .address-page {
    border: 1px solid lightgrey;
    border-radius: 6px;
  }
}


/*CSS Spinner*/
.loader {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #323a45, 1.8em -1.8em 0 0em rgba(50,58,69, 0.2), 2.5em 0em 0 0em rgba(50,58,69, 0.2), 1.75em 1.75em 0 0em rgba(50,58,69, 0.2), 0em 2.5em 0 0em rgba(50,58,69, 0.2), -1.8em 1.8em 0 0em rgba(50,58,69, 0.2), -2.6em 0em 0 0em rgba(50,58,69, 0.5), -1.8em -1.8em 0 0em rgba(50,58,69, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(50,58,69, 0.7), 1.8em -1.8em 0 0em #323a45, 2.5em 0em 0 0em rgba(50,58,69, 0.2), 1.75em 1.75em 0 0em rgba(50,58,69, 0.2), 0em 2.5em 0 0em rgba(50,58,69, 0.2), -1.8em 1.8em 0 0em rgba(50,58,69, 0.2), -2.6em 0em 0 0em rgba(50,58,69, 0.2), -1.8em -1.8em 0 0em rgba(50,58,69, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(50,58,69, 0.5), 1.8em -1.8em 0 0em rgba(50,58,69, 0.7), 2.5em 0em 0 0em #323a45, 1.75em 1.75em 0 0em rgba(50,58,69, 0.2), 0em 2.5em 0 0em rgba(50,58,69, 0.2), -1.8em 1.8em 0 0em rgba(50,58,69, 0.2), -2.6em 0em 0 0em rgba(50,58,69, 0.2), -1.8em -1.8em 0 0em rgba(50,58,69, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(50,58,69, 0.2), 1.8em -1.8em 0 0em rgba(50,58,69, 0.5), 2.5em 0em 0 0em rgba(50,58,69, 0.7), 1.75em 1.75em 0 0em #323a45, 0em 2.5em 0 0em rgba(50,58,69, 0.2), -1.8em 1.8em 0 0em rgba(50,58,69, 0.2), -2.6em 0em 0 0em rgba(50,58,69, 0.2), -1.8em -1.8em 0 0em rgba(50,58,69, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(50,58,69, 0.2), 1.8em -1.8em 0 0em rgba(50,58,69, 0.2), 2.5em 0em 0 0em rgba(50,58,69, 0.5), 1.75em 1.75em 0 0em rgba(50,58,69, 0.7), 0em 2.5em 0 0em #323a45, -1.8em 1.8em 0 0em rgba(50,58,69, 0.2), -2.6em 0em 0 0em rgba(50,58,69, 0.2), -1.8em -1.8em 0 0em rgba(50,58,69, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(50,58,69, 0.2), 1.8em -1.8em 0 0em rgba(50,58,69, 0.2), 2.5em 0em 0 0em rgba(50,58,69, 0.2), 1.75em 1.75em 0 0em rgba(50,58,69, 0.5), 0em 2.5em 0 0em rgba(50,58,69, 0.7), -1.8em 1.8em 0 0em #323a45, -2.6em 0em 0 0em rgba(50,58,69, 0.2), -1.8em -1.8em 0 0em rgba(50,58,69, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(50,58,69, 0.2), 1.8em -1.8em 0 0em rgba(50,58,69, 0.2), 2.5em 0em 0 0em rgba(50,58,69, 0.2), 1.75em 1.75em 0 0em rgba(50,58,69, 0.2), 0em 2.5em 0 0em rgba(50,58,69, 0.5), -1.8em 1.8em 0 0em rgba(50,58,69, 0.7), -2.6em 0em 0 0em #323a45, -1.8em -1.8em 0 0em rgba(50,58,69, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(50,58,69, 0.2), 1.8em -1.8em 0 0em rgba(50,58,69, 0.2), 2.5em 0em 0 0em rgba(50,58,69, 0.2), 1.75em 1.75em 0 0em rgba(50,58,69, 0.2), 0em 2.5em 0 0em rgba(50,58,69, 0.2), -1.8em 1.8em 0 0em rgba(50,58,69, 0.5), -2.6em 0em 0 0em rgba(50,58,69, 0.7), -1.8em -1.8em 0 0em #323a45;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #323a45, 1.8em -1.8em 0 0em rgba(50,58,69, 0.2), 2.5em 0em 0 0em rgba(50,58,69, 0.2), 1.75em 1.75em 0 0em rgba(50,58,69, 0.2), 0em 2.5em 0 0em rgba(50,58,69, 0.2), -1.8em 1.8em 0 0em rgba(50,58,69, 0.2), -2.6em 0em 0 0em rgba(50,58,69, 0.5), -1.8em -1.8em 0 0em rgba(50,58,69, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(50,58,69, 0.7), 1.8em -1.8em 0 0em #323a45, 2.5em 0em 0 0em rgba(50,58,69, 0.2), 1.75em 1.75em 0 0em rgba(50,58,69, 0.2), 0em 2.5em 0 0em rgba(50,58,69, 0.2), -1.8em 1.8em 0 0em rgba(50,58,69, 0.2), -2.6em 0em 0 0em rgba(50,58,69, 0.2), -1.8em -1.8em 0 0em rgba(50,58,69, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(50,58,69, 0.5), 1.8em -1.8em 0 0em rgba(50,58,69, 0.7), 2.5em 0em 0 0em #323a45, 1.75em 1.75em 0 0em rgba(50,58,69, 0.2), 0em 2.5em 0 0em rgba(50,58,69, 0.2), -1.8em 1.8em 0 0em rgba(50,58,69, 0.2), -2.6em 0em 0 0em rgba(50,58,69, 0.2), -1.8em -1.8em 0 0em rgba(50,58,69, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(50,58,69, 0.2), 1.8em -1.8em 0 0em rgba(50,58,69, 0.5), 2.5em 0em 0 0em rgba(50,58,69, 0.7), 1.75em 1.75em 0 0em #323a45, 0em 2.5em 0 0em rgba(50,58,69, 0.2), -1.8em 1.8em 0 0em rgba(50,58,69, 0.2), -2.6em 0em 0 0em rgba(50,58,69, 0.2), -1.8em -1.8em 0 0em rgba(50,58,69, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(50,58,69, 0.2), 1.8em -1.8em 0 0em rgba(50,58,69, 0.2), 2.5em 0em 0 0em rgba(50,58,69, 0.5), 1.75em 1.75em 0 0em rgba(50,58,69, 0.7), 0em 2.5em 0 0em #323a45, -1.8em 1.8em 0 0em rgba(50,58,69, 0.2), -2.6em 0em 0 0em rgba(50,58,69, 0.2), -1.8em -1.8em 0 0em rgba(50,58,69, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(50,58,69, 0.2), 1.8em -1.8em 0 0em rgba(50,58,69, 0.2), 2.5em 0em 0 0em rgba(50,58,69, 0.2), 1.75em 1.75em 0 0em rgba(50,58,69, 0.5), 0em 2.5em 0 0em rgba(50,58,69, 0.7), -1.8em 1.8em 0 0em #323a45, -2.6em 0em 0 0em rgba(50,58,69, 0.2), -1.8em -1.8em 0 0em rgba(50,58,69, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(50,58,69, 0.2), 1.8em -1.8em 0 0em rgba(50,58,69, 0.2), 2.5em 0em 0 0em rgba(50,58,69, 0.2), 1.75em 1.75em 0 0em rgba(50,58,69, 0.2), 0em 2.5em 0 0em rgba(50,58,69, 0.5), -1.8em 1.8em 0 0em rgba(50,58,69, 0.7), -2.6em 0em 0 0em #323a45, -1.8em -1.8em 0 0em rgba(50,58,69, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(50,58,69, 0.2), 1.8em -1.8em 0 0em rgba(50,58,69, 0.2), 2.5em 0em 0 0em rgba(50,58,69, 0.2), 1.75em 1.75em 0 0em rgba(50,58,69, 0.2), 0em 2.5em 0 0em rgba(50,58,69, 0.2), -1.8em 1.8em 0 0em rgba(50,58,69, 0.5), -2.6em 0em 0 0em rgba(50,58,69, 0.7), -1.8em -1.8em 0 0em #323a45;
  }
}
